@charset "utf-8";

/* CSS document to style the letter.xml file. */
letter
{
    font:georgia;
    font-size: 18px;
    color:aqua;
    font-weight: 700;
}

to, address, city, body, from
{
    font:"century gothic";
    color: #f80;
    font-size: 15px;
}